@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="text-left pb-2">
    <h4>Quản lý dữ liệu QACare </h4>
</div>


<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td> </td>
                <th> Hôm Nay</th>
                <th> Tháng hiện tại</th>
                <th> Tháng Trước</th>
                <th> Năm Nay </th>
                <th> Tất Cả </th>
            </tr>

            <tr>
                <td> <a asp-page="/PromotionManager/Index">Tích Điểm</a> </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
            </tr>


            <tr>
                <td> <a asp-page="/GiftManager/Index">Đổi Quà</a> </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> <a asp-page="/RegisterManager/Index">Đăng Ký Tích Điểm </a> </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> <a asp-page="/OrderManager/Index">Đăng Ký Đổi Quà </a> </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
            </tr>
            <tr>
                <td> <a asp-page="/CustomerManager/Index">Khách Hàng </a> </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
            </tr>

            <tr>
                <td> <a asp-page="/ProductManager/Index"> Sản Phẩm </a> </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
            </tr>

        </tbody>
    </table>

</div>
<div class="row mt-3">
    <div class="col-12">
        <h4>Biểu đồ</h4>
        <img src="~/img/line_char_demo.png" class="w-100" />
    </div>

</div>
