@page
@model QACareManagement.Pages.ProductManager.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h4>Quản Lý Sản Phẩm</h4>

<p>
    <a asp-page="Create">Tạo Mới </a>
</p>

<div class="table-responsive">


    <table class="table table-hover table-striped ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Chi Tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>